@charset "utf-8";
/* CSS Document */
body{
	font-family:"微软雅黑";
	font-size:15px;
}
a{
	text-decoration:none;
	color:#000;
}
a:hover{
	color:#F00;
}
p{
	line-height:28px;
	text-indent:2em;
}